<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All Houses</title>
</head>
<body>
    <h1>List of Houses</h1>
    <ul>
        {{#each house}}
        <li><b>{{name}}</b> <br>{{address}} <br>color: {{color}}<br>rooms: {{rooms}}</li>
        {{/each}}
    </ul>
</body>
</html>